## 230968364 week1

In [1]:
import pandas as pd

data = {
    'Date': pd.date_range(start='2025-01-01', end='2025-01-20'),
    'Product Name': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'] * 4,
    'Units Sold': [10, 20, 15, 30, 25, 18, 22, 17, 14, 28, 12, 19, 23, 21, 16, 24, 26, 13, 11, 27],
    'Revenue': [1000, 2000, 1500, 3000, 2500, 1800, 2200, 1700, 1400, 2800, 1200, 1900, 2300, 2100, 1600, 2400, 2600, 1300, 1100, 2700],
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Discount Offered (%)': [5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25],
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve']
}

df = pd.DataFrame(data)
df

,Date,Product Name,Units Sold,Revenue,Region,Discount Offered (%),Salesperson
0,2025-01-01,Product A,10,1000,North,5,Alice
1,2025-01-02,Product B,20,2000,South,10,Bob
2,2025-01-03,Product C,15,1500,East,15,Charlie
3,2025-01-04,Product D,30,3000,West,20,David
4,2025-01-05,Product E,25,2500,North,25,Eve
5,2025-01-06,Product A,18,1800,South,5,Alice
6,2025-01-07,Product B,22,2200,East,10,Bob
7,2025-01-08,Product C,17,1700,West,15,Charlie
8,2025-01-09,Product D,14,1400,North,20,David
9,2025-01-10,Product E,28,2800,South,25,Eve
10,2025-01-11,Product A,12,1200,East,5,Alice
11,2025-01-12,Product B,19,1900,West,10,Bob
12,2025-01-13,Product C,23,2300,North,15,Charlie
13,2025-01-14,Product D,21,2100,South,20,David
14,2025-01-15,Product E,16,1600,East,25,Eve
15,2025-01-16,Product A,24,2400,West,5,Alice
16,2025-01-17,Product B,26,2600,North,10,Bob
17,2025-01-18,Product C,13,1300,South,15,Charlie
18,2025-01-19,Product D,11,1100,East,20,David
19,2025-01-20,Product E,27,2700,West,25,Eve

### 1.	What are the top 3 sales transactions with the highest revenue?

In [21]:
top_3_sales = df.sort_values(by='Revenue', ascending=False).head(3)
top_3_sales

,Date,Product Name,Units Sold,Revenue,Region,Discount Offered (%),Salesperson,discount,Revenue per Unit,Revenue After Discount,Cumulative Revenue,Rank,Cumulative Product Revenue,Weighted Discount
3,2025-01-04,Product D,30,3000,West,20,David,2400.0,100.0,2400.0,3000,1.0,3000,1.534527
9,2025-01-10,Product E,28,2800,South,25,Eve,2100.0,100.0,2100.0,5300,1.0,2800,1.790281
19,2025-01-20,Product E,27,2700,West,25,Eve,2025.0,100.0,2025.0,9600,2.0,2700,1.726343

### 2.	How many units of each product were sold?

In [3]:
unit_sold=df.groupby('Product Name')['Units Sold'].sum()
unit_sold

Product Name
Product A    64
Product B    87
Product C    68
Product D    76
Product E    96
Name: Units Sold, dtype: int64

### 3.	What is the total revenue after applying discounts

In [4]:
df['discount']=df['Revenue']-(df['Revenue']*df['Discount Offered (%)']/100)
total_discount=df['discount'].sum()
print(f"After applying discount the total revenue is {total_discount}")

After applying discount the total revenue is 32970.0

### 4.	Which sales transaction had the highest discount offered, and how much revenue did it generate after applying the discount?

In [5]:
high_disc=df.loc[df['Discount Offered (%)'].idxmax()]
print(f"The sale transaction had the highest discount offered is {high_disc}")
disc_rev=high_disc['Revenue']-(high_disc['Revenue']*high_disc['Discount Offered (%)']/100)
print(f"Revenue generate after applying Discount is {disc_rev}")

The sale transaction had the highest discount offered is Date                    2025-01-05 00:00:00
Product Name                      Product E
Units Sold                               25
Revenue                                2500
Region                                North
Discount Offered (%)                     25
Salesperson                             Eve
discount                             1875.0
Name: 4, dtype: object
Revenue generate after applying Discount is 1875.0

### 5. Which salesperson generated the highest total revenue?

In [6]:
top_salesperson = df.groupby('Salesperson')['Revenue'].sum().idxmax()
highest_revenue = df.groupby('Salesperson')['Revenue'].sum().max()

print(f"The salesperson who generated the highest total revenue is {top_salesperson} with a revenue of {highest_revenue}.")

The salesperson who generated the highest total revenue is Eve with a revenue of 9600.

### 6. What is the average discount offered by each salesperson?

In [7]:
avg_discount = df.groupby('Salesperson')['Discount Offered (%)'].mean()
print("Average Discount Offered by Each Salesperson:")
print(avg_discount)

Average Discount Offered by Each Salesperson:
Salesperson
Alice       5.0
Bob        10.0
Charlie    15.0
David      20.0
Eve        25.0
Name: Discount Offered (%), dtype: float64

### 7. How much revenue was generated in each region?

In [8]:
region_revenue = df.groupby('Region')['Revenue'].sum()
print("Revenue Generated in Each Region:")
print(region_revenue)

Revenue Generated in Each Region:
Region
East      7600
North     9800
South    10000
West     11700
Name: Revenue, dtype: int64

### 8. In which region did Alice generate the highest sales?

In [9]:
alice_sales = df[df['Salesperson'] == 'Alice'].groupby('Region')['Revenue'].sum()
top_region = alice_sales.idxmax()
highest_sales = alice_sales.max()

print(f"Alice generated the highest sales in {top_region} with a revenue of {highest_sales}.")

Alice generated the highest sales in West with a revenue of 2400.

### 9. Which product generated the highest revenue per unit sold?

In [10]:
df['Revenue per Unit'] = df['Revenue'] / df['Units Sold']
highest_revenue_product = df.groupby('Product Name')['Revenue per Unit'].mean().idxmax()

print(f"The product that generated the highest revenue per unit sold is {highest_revenue_product}.")

The product that generated the highest revenue per unit sold is Product A.

### 10. How many transactions were rated as "High" performance?

In [11]:
mean_revenue = df['Revenue'].mean()
high_performance_transactions = df[df['Revenue'] > mean_revenue]

num_high_performance = len(high_performance_transactions)
print(f"Number of High Performance Transactions: {num_high_performance}")

Number of High Performance Transactions: 10

### 11. Which salesperson sold the most units in the North region without offering any discount?

In [12]:
no_discount_north = df[(df['Region'] == 'North') & (df['Discount Offered (%)'] == 0)]

if no_discount_north.empty:
    print("No salesperson sold units in the North region without offering any discount.")
else:
    top_salesperson_north = no_discount_north.groupby('Salesperson')['Units Sold'].sum().idxmax()
    print(f"The salesperson who sold the most units in the North region without offering any discount is {top_salesperson_north}.")

No salesperson sold units in the North region without offering any discount.

### 12. What is the average revenue per unit sold in each region for each product?

In [13]:
avg_rev_per_unit = df.groupby(['Region', 'Product Name'])['Revenue'].sum() / df.groupby(['Region', 'Product Name'])['Units Sold'].sum()
print("Average Revenue per Unit Sold in Each Region for Each Product:")
print(avg_rev_per_unit)

Average Revenue per Unit Sold in Each Region for Each Product:
Region  Product Name
East    Product A       100.0
        Product B       100.0
        Product C       100.0
        Product D       100.0
        Product E       100.0
North   Product A       100.0
        Product B       100.0
        Product C       100.0
        Product D       100.0
        Product E       100.0
South   Product A       100.0
        Product B       100.0
        Product C       100.0
        Product D       100.0
        Product E       100.0
West    Product A       100.0
        Product B       100.0
        Product C       100.0
        Product D       100.0
        Product E       100.0
dtype: float64

### 13. Which salesperson has the highest average revenue after discounts, and how does it compare between regions?

In [14]:
df['Revenue After Discount'] = df['Revenue'] - (df['Revenue'] * df['Discount Offered (%)'] / 100)
avg_revenue_per_salesperson = df.groupby('Salesperson')['Revenue After Discount'].mean()
top_salesperson = avg_revenue_per_salesperson.idxmax()

print(f"The salesperson with the highest average revenue after discounts is {top_salesperson}.")
print("Comparison of Revenue After Discount by Region:")
print(df.groupby(['Salesperson', 'Region'])['Revenue After Discount'].mean())

The salesperson with the highest average revenue after discounts is Bob.
Comparison of Revenue After Discount by Region:
Salesperson  Region
Alice        East      1140.0
             North      950.0
             South     1710.0
             West      2280.0
Bob          East      1980.0
             North     2340.0
             South     1800.0
             West      1710.0
Charlie      East      1275.0
             North     1955.0
             South     1105.0
             West      1445.0
David        East       880.0
             North     1120.0
             South     1680.0
             West      2400.0
Eve          East      1200.0
             North     1875.0
             South     2100.0
             West      2025.0
Name: Revenue After Discount, dtype: float64

### 14. What is the cumulative total revenue over time for each salesperson?

In [15]:
df['Cumulative Revenue'] = df.groupby('Salesperson')['Revenue'].cumsum()
print("Cumulative Total Revenue Over Time for Each Salesperson:")
print(df[['Date', 'Salesperson', 'Cumulative Revenue']])

Cumulative Total Revenue Over Time for Each Salesperson:
         Date Salesperson  Cumulative Revenue
0  2025-01-01       Alice                1000
1  2025-01-02         Bob                2000
2  2025-01-03     Charlie                1500
3  2025-01-04       David                3000
4  2025-01-05         Eve                2500
5  2025-01-06       Alice                2800
6  2025-01-07         Bob                4200
7  2025-01-08     Charlie                3200
8  2025-01-09       David                4400
9  2025-01-10         Eve                5300
10 2025-01-11       Alice                4000
11 2025-01-12         Bob                6100
12 2025-01-13     Charlie                5500
13 2025-01-14       David                6500
14 2025-01-15         Eve                6900
15 2025-01-16       Alice                6400
16 2025-01-17         Bob                8700
17 2025-01-18     Charlie                6800
18 2025-01-19       David                7600
19 2025-01-20         Eve                9600

### 15. For each salesperson, rank the transactions by revenue and find the top 2 transactions for each.

In [16]:
df['Rank'] = df.groupby('Salesperson')['Revenue'].rank(ascending=False, method='dense')
top_2_sales = df[df['Rank'] <= 2].sort_values(by=['Salesperson', 'Rank'])

print("Top 2 Transactions for Each Salesperson:")
print(top_2_sales[['Salesperson', 'Revenue', 'Rank']])

Top 2 Transactions for Each Salesperson:
   Salesperson  Revenue  Rank
15       Alice     2400   1.0
5        Alice     1800   2.0
16         Bob     2600   1.0
6          Bob     2200   2.0
12     Charlie     2300   1.0
7      Charlie     1700   2.0
3        David     3000   1.0
13       David     2100   2.0
9          Eve     2800   1.0
19         Eve     2700   2.0

### 16. How has the total revenue generated by each product changed over time? Show cumulative revenue for each product per day.

In [17]:
df['Cumulative Product Revenue'] = df.groupby(['Product Name', 'Date'])['Revenue'].cumsum()
print("Cumulative Revenue for Each Product Over Time:")
print(df[['Date', 'Product Name', 'Cumulative Product Revenue']])

Cumulative Revenue for Each Product Over Time:
         Date Product Name  Cumulative Product Revenue
0  2025-01-01    Product A                        1000
1  2025-01-02    Product B                        2000
2  2025-01-03    Product C                        1500
3  2025-01-04    Product D                        3000
4  2025-01-05    Product E                        2500
5  2025-01-06    Product A                        1800
6  2025-01-07    Product B                        2200
7  2025-01-08    Product C                        1700
8  2025-01-09    Product D                        1400
9  2025-01-10    Product E                        2800
10 2025-01-11    Product A                        1200
11 2025-01-12    Product B                        1900
12 2025-01-13    Product C                        2300
13 2025-01-14    Product D                        2100
14 2025-01-15    Product E                        1600
15 2025-01-16    Product A                        2400
16 2025-01-17    Product B                        2600
17 2025-01-18    Product C                        1300
18 2025-01-19    Product D                        1100
19 2025-01-20    Product E                        2700

### 17. Analyze how discounts affect revenue. What is the average revenue generated with a discount compared to without a discount?

In [18]:
with_discount = df[df['Discount Offered (%)'] > 0]['Revenue'].mean()
without_discount = df[df['Discount Offered (%)'] == 0]['Revenue'].mean()

print(f"Average Revenue with Discount: {with_discount}")
print(f"Average Revenue without Discount: {without_discount}")

Average Revenue with Discount: 1955.0
Average Revenue without Discount: nan

### 18. What is the weighted average discount offered by each salesperson, weighted by the revenue they generated?

In [19]:
df['Weighted Discount'] = df['Discount Offered (%)'] * (df['Revenue'] / df['Revenue'].sum())
weighted_avg_discount = df.groupby('Salesperson')['Weighted Discount'].sum()

print("Weighted Average Discount Offered by Each Salesperson:")
print(weighted_avg_discount)

Weighted Average Discount Offered by Each Salesperson:
Salesperson
Alice      0.818414
Bob        2.225064
Charlie    2.608696
David      3.887468
Eve        6.138107
Name: Weighted Discount, dtype: float64

### 19. What percentage of the total revenue does each region contribute?

In [20]:
region_revenue_percentage = (df.groupby('Region')['Revenue'].sum() / df['Revenue'].sum()) * 100
print("Percentage of Total Revenue Contributed by Each Region:")
print(region_revenue_percentage)

Percentage of Total Revenue Contributed by Each Region:
Region
East     19.437340
North    25.063939
South    25.575448
West     29.923274
Name: Revenue, dtype: float64